html, body, * {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    user-select: none;
    box-sizing: border-box;
}

:root {
    color: #FFFFFF;
    --nav: #55BEFF;
    --first: #6bc5fa;
    --second: #6BA3FA;
    --third: #6b80fa;
    --border: #354450;
}

body {
    background-color: var(--first);
}

main {
    height: 3000px;
    padding: 20px;
}

nav {
    flex-grow: 1;
    white-space: nowrap;
}

ul li.user {
    margin-left: auto;
    position: relative;
    right: 10px
}

ul li.user a:hover {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
    background-color: var(--nav);
    z-index: 1000;
    border-bottom: 2px solid var(--border);
}

.logo{
    height: 2em;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem #FFFFFF);
}

.icon:hover {
    cursor: pointer;
}

ul li a i{
    position: relative;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 5px;
}

.nav-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-elements {
    padding: 0px;
}

.dropdown-content {
    display: block; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    border: 3px solid var(--border);
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--second);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1000;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.user.active .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header i {
    font-size: 25px;
    padding: 0px 10px 0px 10px;
}

ul li a {
    display: flex;
    font-size: 20px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second);
    padding: 20px;
    border-top: 2px solid var(--border);
}

.dropdown-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.dropdown-elements li {
    list-style: none;
}

.dropdown-elements li a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 6px 15px;
    border-radius: 10px;
    background: var(--first);
    font-weight: bold;
}

.dropdown-elements li a i {
    flex-shrink: 0;
}

.group {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third);
    border-radius: 50%;
    padding: 20px; 
    aspect-ratio: 1 / 1; 
    line-height: 0; 
}

.button a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.button i {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 30px;
}

.slidingbar {
    z-index: 999;
    position: fixed;
    left: var(--NTabWidth);
    width: fit-content;
    top: var(--navbar-height);
    bottom: 0px;
    background-color: var(--third);
    transition: left 0.3s ease-in-out;
    border: 3px solid var(--border);
    border-radius: 0px 10px 10px 0px;
    white-space: nowrap;
}

.options {
    font-size: 30px;
    user-select: none;
    width: fit-content;
    margin: 0px 15px 15px 15px;
}

.options div {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;
  }

.options p {
    margin-left: 10px;
}

.tab:nth-child(1) {
    margin: 0;
}

.options-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
}

.start {
    position: relative;
    top: 0px;
    height: 100vh;
    background-image: linear-gradient(30deg, var(--second), var(--first), var(--third));
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    align-content: space-between;
    justify-content: space-around;
    margin: -20px;
    border-radius: 0px 0px 100% 0px;
    box-shadow: 10px 10px 100px var(--nav);
    padding: calc(var(--navbar-height) * 2) 0px var(--navbar-height) 0px;

}

.start-child {
    display: flex;
    justify-content: center;
    height: fit-content;
    border-radius: 40px;
    font-size: 3vw;
    font-weight: bold;
    padding: 3vw 10px;
    white-space: nowrap;
    border: 2px solid var(--border);
}

.start > *:nth-child(3n + 1) {
  background-color: var(--first);
}

.start > *:nth-child(3n + 2) {
  background-color: var(--second);
}

.start > *:nth-child(3n) {
  background-color: var(--third);
}


@media screen and (max-width: 782px) {
    .start {
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        gap: 5px;
    }
    
    .nav-elements > li:not(.user){
        display: none;
}

    .start-child p {
        font-size: clamp(25px, 3vw, 200px);
    }
}

.user-trigger {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
}

@media (hover: hover) and (pointer: fine) {
    .user:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.user-icon {
    padding: 5px;
}